body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
    }
    .container {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    h1 {
    text-align: center;
    }
    label {
    display: block;
    margin-top: 10px;
    }
    input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    }
    button {
    margin-top: 10px;
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    }
    button:hover {
    background: #0056b3;
    }
    #results {
    margin-top: 20px;
    }
    
    #generateRss {
    margin-top: 10px;
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    #generateRss:hover {
    background-color: #218838;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
       margin-bottom: 20px;
       padding: 10px;
       border: 1px solid #ddd;
       border-radius: 5px;
    }

     li > a {
       margin-top: 10px;
       display: block;
       text-decoration: none;
     }

      li > button {
        margin-top: 10px;
        padding: 5px;
        border: none;
        background-color: #007bff;
        color: white;
        border-radius: 5px;
        cursor: pointer;
    }